<section id="about">
	<div class="copy">
		<h1>Devote Energy Going To Events, Not Remembering Them</h1>
		<p>There are a lot of great events in the Denver Metro Area; unfortunately, it is very easy to miss out because you didn’t hear or forgot about them. The result is that you end up doing the same thing every weekend.</p>
		<p>No more! We scour the internet looking for events and bring them to you in the form of a calendar that is available right next to your dentist appointment and Mother's Day so that once you get those pearly whites cleaned and call your mother, you'll be ready to hit the town… all you have to do is subscribe. We only include special events and, unlike most online event listings, don’t clutter it with the same happy hours and drink specials that require you to sift through four or five pages before finding anything unique. Best of all, it’s free!</p>
		<p>With events ranging from 5ks to beer festivals (in some cases, at the same time) and new ones being added all the time, you are bound to find something interesting.</p>
		<p>Of course, if you know of an event that you think would fit, <a href="#suggest_event" alt="Suggest An Event" class="smoothScroll">let us know!</a></p>
		<div class="actions">
			<%= link_to "Sign Up Free", "#home", :class=> "signup_button smoothScroll" %>
<!-- 			<%= link_to "Check Out More Features", "#features", :class=> "general_button smoothScroll" %> -->
		</div>
	</div>
</section>