<div id="email_modal" class="reveal-modal question_modal">
	<h3>Why we need your email...</h3>
	<p>Your email will be used to notify you of updates to the site or service.  You are busy and we don't want to intrude on your workflow any more than absolutely necessary so email from DenverBoulderEvents.com will be kept to a minimum.</p>
	<p>You can also view our <a href="privacy_policy.html">Privacy Policy</a> to learn a bit more about where we stand on your email and privacy.</p>
	<a class="close-reveal-modal">&#215;</a>
</div>