<div id="email_modal" class="reveal-modal question_modal">
	<h3>Why we need your email...</h3>
	<p>Your email will be used to notify you of updates to the site or service.  You are busy and we don't want to intrude on your workflow any more than absolutely necessary so email from DenverBoulderEvents.com will be kept to a minimum.</p>
	<p>You can also check out <%= link_to "what we plan on doing with your email", faq_path(:anchor => "email_policy") %> and also our <%= link_to "views on spam", faq_path(:anchor => "spam") %>.</p>
	<a class="close-reveal-modal">&#215;</a>
</div>