<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
	<form action="http://denverboulderevents.us7.list-manage.com/subscribe/post?u=1db3874202313a750eae8b26a&amp;id=7998a4017f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		
		<div class="mc-field-group">
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address...">
			<p><a href="#" data-reveal-id="email_modal" id="open_modal">Why do we need your email?</a></p>
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<div class="clear">
			<p><input type="submit" value="Sign Up Free" name="subscribe" id="mc-embedded-subscribe" class="signup"></p>
		</div>
	</form>
</div>
