<div class="copy">
	<h1>Frequently Asked Questions</h1>
	<ul>
		<li><a href="#cost_to_subscribe" class="smoothScroll">Does it cost anything to subscribe?</a></li>
		<li><a href="#how_to_subscribe" class="smoothScroll">How do I subscribe to the calendar?</a></li>
		<li><a href="#spam" class="smoothScroll">Are you going to spam me?</a></li>
		<li><a href="#email_policy" class="smoothScroll">What are you going to do with my email address?</a></li>
		<li><a href="#email_required" class="smoothScroll">Do I really need to provide my email to get the calendar?</a></li>
		<li><a href="#event_guidelines" class="smoothScroll">What types of events are included in the calendar?</a></li>
		<li><a href="#submit_event" class="smoothScroll">I have an event... can I get it added to the calendar?</a></li>
		<li><a href="#help_out" class="smoothScroll">Can I help out in some way?</a></li>
		<li><a href="#meaning_of_life" class="smoothScroll">What is the meaning of life?</a></li>
		<li><a href="#hgtg" class="smoothScroll">What is 7 * 6?</a></li>
		<li><a href="#ask_a_question" class="smoothScroll">I have a less than frequently asked question where can I ask my question?</a></li>
	</ul>
</div>
