<a name="home"></a>
<div class="signup_callout">
	<div class="copy">
		<%= image_tag("DBE-Logo-orange.png", :alt => "Denver Boulder Events", :class => "logo") %>
		<h1>Be In The Know Like The Cool Kids</h1>
		<p>Experience all Denver and Boulder has to offer beyond happy hours, right in your own calendar.</p>
		<div class="subscribe">
 			<%= render 'requests/public_form' %>
		</div>
	</div>
</div>