<a name="home"></a>
<div class="signup_callout">
	<div class="copy">
		<%= image_tag("DBE-Logo-orange.png", :alt => "Denver Boulder Events", :class => "logo") %>
		<h1>Don't Miss Out On Great Events Around Denver and Boulder</h1>
		<p>Free access to a large, constantly updated selection of events right in your own calendar.</p>
		<div class="subscribe">
 			<%= render 'requests/public_form' %>
		</div>
	</div>
</div>