<a name="home"></a>
<div class="signup_callout">
	<div class="copy">
		<img src="http://placekitten.com/100/100" alt="Logo" class="logo" />
		<h1>Be In The Know Like The Cool Kids</h1>
		<p>Experience all Denver and Boulder has to offer beyond happy hours, right in your own calendar.</p>
		<div class="subscribe">
 			<%= render 'requests/public_form' %>
		</div>
	</div>
</div>