<section id="suggest_event">
	<div class="copy">
		<h1>We Like Events... Tell Us About Yours</h1>
		<p>We do our best to find all the events that are happening but the internet is a big place.  If you provide us with some information about your event and we'll check it out.  Please make sure to provide at least the event name and website.  Time and location would be great as well.</p>
		<p>Please also make sure to read our <a href="faq.html#event_guidelines" class="smoothScroll">Event Guidelines</a> before submitting.</p>
		<div class="submission_form">
				
		</div>
	</div>
</section>