<% provide(:title, "FAQ") %>

<%= render 'layouts/menu_bar' %>
<a name="home"></a>
<div class="content">
	<%= render 'static_page/questions' %>
	<%= render 'static_page/answers' %>
</div>
<%= render 'layouts/footer' %>