$dbe-heading-font: 'Dosis', sans-serif;
$dbe-body-font: 'Source Sans Pro',  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$dbe-primary: rgba(236, 240, 241,1.0); /* Clouds White */
$dbe-secondary: rgba(3, 44, 54, 1.0); /* Dark Blue */

$dbe-primary-accent: rgba(230, 126, 34,1.0); /* Carrot Orange */

$dbe-accent-success: rgba(32, 156, 7, 1);
$dbe-accent-fail: rgba(212, 35, 24, 1);

$dbe-light-text: rgba(229, 221, 212, 1);
$dbe-dark-text: rgba(0, 73, 131, 1.0);
$dbe-dark-heading: rgba(20, 20, 20, 1.0);
$dbe-light-heading: rgba(200, 200, 200, 1.0);
$dbe-inactive-text: rgba(127, 140, 141,1.0);

$nav-bar-color: rgba(0, 73, 131, 0.8);
$callout-color: rgba(68, 68, 68, 0.6);
$dbe-link-color: rgba(11, 164, 201, 1.0); /* Light blue */

$body-font-color: $dbe-dark-text;