<%= form_for @request do |f| %>
  <%= f.email_field :email, :required => true, :placeholder => "Email Address" %>
  <p><a href="#" data-reveal-id="email_modal" id="open_modal">Why do we need your email?</a></p>
  <%= f.submit "Sign Up Free", :class => "signup_button" %>
<% end %>
