<h1>You have successfully validated your email address.</h1>
<p>Thanks again for signing up.  You can access the calendar at:</p>
<%= link_to "#", "<Link To Calendar" %>
<p>If you aren't sure how to subscribe to the calendar in your application, please reference our <%= link_to "FAQ", faq_path(:anchor => "how_to_subscribe") %>.</p>