<div class="header sticky">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1><%= link_to "Denver Boulder Events", root_path, :class => 'smoothScroll' %></h1>
			</li>
		</ul>
		<section class="top-bar-section right">
			<ul>
				<li><a href="#home" class="smoothScroll">Get the Calendar!</a></li>
				<li><a href="#about" class="smoothScroll">About Us</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#faq" class="smoothScroll">FAQ</a></li>
				<li><a href="#suggest_event" class="smoothScroll">Suggest An Event</a></li>
			</ul>
		</section>
	</nav>
</div>