<div class="sidebar_nav">
	<img src="http://placekitten.com/200/200" class="logo" />
	<ul>
 		<li><%= link_to "Requests", requests_path, :class => "active" %></li>
		<li>Users</li>
		<li><%= link_to "Events", events_path %></li>
		<li><%= link_to "Suggestions", suggestions_path %></li>
		<li>Tags</li>
		<li class="divider"></li>
		<li><%= link_to "View Public Page", root_path %></li>
	</ul>
</div>